---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Keurmerken from "../components/Keurmerken.astro";
import Intro from "../components/Intro.astro";
import Diensten from "../components/Diensten.astro";
import Projecten from "../components/Projecten.astro";
import Werkwijze from "../components/Werkwijze.astro";
import OverOns from "../components/OverOns.astro";
import Vacatures from "../components/Vacatures.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Header />
  <main>
    <Hero />
    <Keurmerken />
    <Intro />
    <Diensten />
    <Projecten />
    <Werkwijze />
    <OverOns />
    <Vacatures />
    <Contact />
  </main>
  <Footer />
</Base>
